#inputDiv{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#selectorDiv{
    display: flex;
    flex-direction: row;

}

#aligner{
    display: flex;
    flex-direction: column;
}

#innerInputDiv0{
    display: flex;
    flex-direction: row;
}

#displayResults{
    font-size: 40px;
}