#inputDiv{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

html{
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-image: linear-gradient(to right, #1a75ff , #1aff1a);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    flex: 1;

}

#selectorDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#aligner{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.innerInputDiv{
    display: flex;
    flex-direction: column;
    align-items: center;

}
/*from: https://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/*/
.fileInputDiv{ /*Hides the std input*/
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}



 label {
    font-family: 'Open Sans', sans-serif;
    color: black;
    background-color: white;
    box-shadow: 3px 3px 10px grey;
    display: inline-block;
    cursor: pointer; /* "hand" cursor */
    border-radius: 20px;
    padding: 10px;
}


.fa-upload{
    color: black;
}

.textDiv{
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    font-size: 20px;
    cursor: pointer;

}


#submitButton{
    margin-top: 5px;
    margin-bottom: 20px;
    background: #ffff99;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
    padding: 10px;
    border: none;
    outline: none;
    box-shadow: 3px 3px 10px grey;
}

.labels{
    margin-bottom: 5px;
}


#fileCount{
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow:3px 3px 10px grey;
    border-radius: 30px;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 6.4px 16px;
    color: #454545;

}


#messageAwesomeFont{
    padding: 10px;
}

.messageSymbol{
    font-size: 50px;
    color: white;
}

#bigTitle{
    color: white;
    font-size: 40px;

}

#smallerTitle {
    color: white;
    width: 80%;
}

#bigCenter{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}


.ui-selectmenu-menu{


}




#monthSelector-button{
    margin-top: 5px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    border-radius: 20px;
}

#monthSelector-menu{
    background: white;
    font-family: 'Open Sans', sans-serif !important;

    box-shadow: 3px 3px 10px grey;
}

#theSelector-menu{
    background: white;
    font-family: 'Open Sans', sans-serif !important;

    box-shadow: 3px 3px 10px grey;
}

#theSelector-button{
    border: none;
    outline: none;
    border-radius: 20px;
}



.ui-selectmenu-button{
    box-shadow: 3px 3px 10px gray;
    background: white!important;
    font-family: 'Open Sans', sans-serif !important;
    border: none;
}


.displayBox{

}

.messageOuter{
    display: flex;
    flex-direction: row;
    box-shadow: 3px 3px 10px gray;
    margin-top: 10px;
}

.messageInner{
    display: flex;
    flex-direction: column;
    padding: 3px 10px 10px 10px;

}

.messageTitle{
    font-size: 25px;
    font-weight: bold;

}

.successMessageOuter{
    background: #38db32;

}

#successMessageInner{
    background: white;

}

#successMessageTitle{
    color: #38db32;

}

.errorMessage{

}


.flexGrow{
    display: flex;
    flex: 1;
}