#inputDiv{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

html{
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-image: linear-gradient(to right, #1a75ff , #1aff1a);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    flex: 1;
}

#selectorDiv{
    display: flex;
    flex-direction: row;

}

#aligner{
    display: flex;
    flex-direction: column;
}

#innerInputDiv0{
    display: flex;
    flex-direction: row;
}

#displayResults{
    font-size: 40px;
}

#bigTitle{
    color: white;
    font-size: 40px;

}

#smallerTitle{
    color: white;
    width: 80%;
}

#bigCenter{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}


.ui-selectmenu-menu{
    box-shadow: 6px 6px 15px grey;

}

#theSelector-menu{
    background: white;
    font-family: 'Open Sans', sans-serif !important;
    border-radius: 20px !important;
}



.ui-selectmenu-button{
    box-shadow: 6px 6px 15px grey;
    background: white!important;
    font-family: 'Open Sans', sans-serif !important;
    border-radius: 20px !important;
}





.flexGrow{
    display: flex;
    flex: 1;
}